## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [3]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [79]:
df = pd.read_csv("../dataset/Automobile.csv")

**Check the head of the DataFrame.**

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
symboling              201 non-null int64
normalized_losses      201 non-null int64
make                   201 non-null object
fuel_type              201 non-null object
aspiration             201 non-null object
number_of_doors        201 non-null object
body_style             201 non-null object
drive_wheels           201 non-null object
engine_location        201 non-null object
wheel_base             201 non-null float64
length                 201 non-null float64
width                  201 non-null float64
height                 201 non-null float64
curb_weight            201 non-null int64
engine_type            201 non-null object
number_of_cylinders    201 non-null object
engine_size            201 non-null int64
fuel_system            201 non-null object
bore                   201 non-null float64
stroke                 201 non-null float64
compression_ratio      201 non-null float64
horsepower             201 non-null int64
peak_rpm               201 non-null int64
city_mpg               201 non-null int64
highway_mpg            201 non-null int64
price                  201 non-null int64
dtypes: float64(7), int64(9), object(10)
memory usage: 40.9+ KB

In [7]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [9]:
df.shape

(201, 26)

**What is the average Price of all cars in the dataset?**

In [12]:
df.columns

Index(['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration',
       'number_of_doors', 'body_style', 'drive_wheels', 'engine_location',
       'wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_type',
       'number_of_cylinders', 'engine_size', 'fuel_system', 'bore', 'stroke',
       'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg',
       'highway_mpg', 'price'],
      dtype='object')

In [17]:
df['price'].mean()

13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [30]:
df.sort_values('price').min()[['make','price']]

make     alfa-romero
price           5118
dtype: object

In [29]:
df.sort_values('price').max()[['make','price']]

make     volvo
price    45400
dtype: object

**How many cars have horsepower greater than 100?**

In [52]:
df[df['horsepower']>100]['horsepower'].count()

90

**How many hatchback cars are in the dataset ?**

In [58]:
df['body_style'].value_counts()['hatchback']

68

**What are the 3 most commonly found cars in the dataset?**

In [63]:
df['make'].value_counts().head(1)

toyota    32
Name: make, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [73]:
df[df['price']== 7099][['make','price']]

      make  price
87  nissan   7099

**Which cars are priced greater than 40000?**

In [74]:
df[df['price']>40000][['make','price']]

             make  price
15            bmw  41315
70  mercedes-benz  40960
71  mercedes-benz  45400

**Which are the cars that are both a sedan and priced less than 7000?**

In [78]:
df[(df['price'] < 7000) & (df['body_style'] =='sedan')][['make','price','body_style']]

           make  price body_style
19    chevrolet   6575      sedan
24        dodge   6692      sedan
42        isuzu   6785      sedan
50        mazda   6695      sedan
82   mitsubishi   6989      sedan
86       nissan   5499      sedan
88       nissan   6649      sedan
89       nissan   6849      sedan
118    plymouth   6692      sedan
152      toyota   6938      sedan

### The END